[submodule "modules/dotly"]
	path = modules/dotly
	url = https://github.com/CodelyTV/dotly.git
	branch = main
[submodule "modules/private"]
	path = modules/private
	url = git@github.com:rukshin/dotfiles-private.git
