# If you modify this execute `zimfw uninstall && zimfw reinstall`
# NOTE: fzf-tab must be after completion (compinit) but before syntax-highlighting/autosuggestions
zmodule zimfw/environment -u git
zmodule zimfw/git-info -u git
zmodule zimfw/input -u git
zmodule zimfw/completion -u git
zmodule Aloxaf/fzf-tab -u git
zmodule zsh-users/zsh-syntax-highlighting -u git
zmodule zsh-users/zsh-autosuggestions -u git
